/* The Flying Dutchman
   customer.css
   Created by 'Pirates of the Caribbean' on 18 of February 2018.
*/

/*Style Sheet for the customer page*/

/*HEADER*/


h1 {
    display: inline-block;
    float: none;
    color: white;
    margin-left: 1%;
    font-family: 'Berkshire Swash', cursive;

}

h2 {
    float: none;
    color: #96b9a5;
    margin-left: 3%;

}


body {
    background-image: url("../img/wood2.jpg");
    background-size: cover;
    max-width: 100%;
    background-repeat: repeat-y;
    font-family: 'Oswald', sans-serif;
}


header {
    overflow:hidden;
    position: relative;
    height: 10%;
}

header h2 {
    display: inline-block;
}

.title {
 /*   background-color: #0A2521;*/
    float: left;
    width: 100%;
}

.info {
    background-color: #797979;
    position: absolute;
    top: 0px;
    right: 50px;
}

/*MENU COLUMN*/
.menu {
    width: 70%;
/*    height: 30%;*/  
/*    background-color: #0A2521;*/
    float: left;
    overflow: auto;
}

.menu h2 {
    margin:0px;
    padding:0px;
}

.menu ul {
    list-style-type: none;
}

.menu a li {
    display: block;
    background-color: #567973;

    text-align: center;

    float: left;
    margin-right:1.5%;
    padding:3px;
    width: 11%;
    height: 30%;
    border: solid;
    border-color: #567973;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 2px -2px 10px black, 2px 0 10px black;

}

.menu a:hover li {
    background-color: #D6DDDC;
    border: solid;
    border-color: #D6DDDC;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.menu a.current li {
    background-color: #A4B9B6;
    border: solid;
    border-color: #A4B9B6;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.selected {
    background-color: #2dff12;
}

.drink_list {
    width: 68%;
   /* height: 500px;*/
    
    height: 500px;
    overflow: hidden;
    overflow-y: scroll;
    top: 0px;
    margin-left: 2%;
    background-color: #A4B9B6;
    float: left;
/*    overflow: auto; */
    border-bottom-left-radius: 1%;
}

.main_section{
    float: top;
    height: 70%;}

.drink {
    background-color: #C0CFCC;

    padding-left: 1.5%;
    padding-right: 1.5%;
    margin: 2%;

    border-style: solid;
    border-color: #C0CFCC;
    border-width: medium;
    border-radius: 3%;

    width: 170px;
    height: 335px;

    float: left;
    text-align: center;

    cursor: pointer;

    overflow:hidden;
}

.drink img {

    display: block;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    height: 55%;
}

/*ORDER COLUMN*/
.selection_header {
    width: 28%;
    /*    height: 75px;*/
    height: 75px;
    margin-right: 2%;

    float: left;

    overflow: hidden;
    border-top-right-radius: 1%;
    background-color: #254540;
}



.selection {
    width: 28%;
    /*    height: 350px; *//* 500px*/
    height: 350px;
    background-color: #567973;

    margin-right: 2%;
    float: left;
    overflow: auto;
}

.selection_div {
    width: 28%;
    height: 500px;
    margin-right: 2%;
    float: left;
    overflow: auto;    

}

.order {
    background-color: #A4B9B6;

    padding-left: 1.5%;
    padding-right: 1.5%;
    margin: 2%;
    margin-bottom: 10%;

    border-style: solid;
    border-color: #A4B9B6;
    border-width: thin;

    width: 92%;
    clear: both;
}

.order .price {
    float: right;
}

.order img {
    height: 80px;
    float: left;
}
.checkout {
    width: 28%;
    /*    height: 75px;*/
    height: 75px;
    background-color: #254540;
    float: left;
    margin-right: 2%;
    overflow: hidden;
    border-bottom-right-radius: 1%;
}

.checkout h2 {
    float: left;
    color: #96b9a5;
    margin-left: 4%;
}

.delete {
    background-color: #AF370B;
    color: white;
    float: right;
    width: 20px;
    text-align: center;
}

/* FOOTER*/

.checkout {
    width: 28%;
    /*    height: 75px;*/
    height: 75px;
    background-color: #254540;
    float: left;
    margin-right: 2%;
    overflow: hidden;
    border-bottom-right-radius: 1%;
}

.checkout h2 {
    float: left;
    color: #96b9a5;
    margin-left: 4%;
}

.delete {
    background-color: #AF370B;
    color: white;
    float: right;
    width: 20px;
    text-align: center;
}

.logout {
    float: left;
    clear: none;
    margin-left: 2%;
}

.languages_menu {
    float: left;
    width: 50%;
    height: 50%;
    padding-top: 5px;
    clear: none;
}

footer .small_button{
    float: left;
    height: 50%;
    border: solid;
    border-radius: 5px;
    margin-right: 2%;
}

#pay {
    float: right;
}

/*  blubb, rem
body {
    height: 90%;
    background-color: #0A2521;
} */

.highlight {
    background-color: #3240ff;
    border-color: #A4B9B6;
}


#total {
    text-align: center;
}
.welcome{
    display: inline;
    width: 50%;
    margin-left: 35%;
    margin-right: 35%;
    text-align:center;
}

.dropdown {
    display: none;
    position: relative;
    margin: 2%;
    width: 70%;
    color: white;
    z-index: 1;
}

.dropdown ul {
    list-style-type: none;
    padding: 0px;
}

.dropdown li{
    text-align: center;
    border-bottom: medium black;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 0%;
    background-color: whitesmoke;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    font-size: 200%;
    border-radius: 1%;
    border: medium;
    border: solid;
    border-color: #3240ff;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: solid;
}

.dropdown ul a:hover{
    background-color: lightgrey;
}

.dropdown:hover .dropdown-content {
     display: block;
 }

.log_button{
    display: none;
    position: relative;
    margin-top: -13%;
    margin-bottom: 3%;

    left: -15px;
  /*  z-index: -1; */
    float:right;
    width: 30%;
    height: 30px;
    text-align: center;
    border: thin;
    border-color: black;
    border-style: solid;
    border-radius: 2px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

.pay_button{
    display: none;
    position: relative;
    margin-top: -12%;
    left: -5%;
  /*  margin-right: 100%;
    z-index: -1; */
    float: left;
    width: 30%;
    height: 30px;
    text-align: center;
    border: thin;
    border-color: black;
    border-style: solid;
    border-radius: 2px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

.shopping_basket {
    filter: brightness(0) invert(1);
    margin-left: 70px;
    display:inline-block;
    height:40px;
}



                          /*Responsiveness*/
/* For mobile phones: */

@media only screen and (min-width:320px) and (max-width:768px) /*reminder :Check with Elsa*/
{
    /* hide the language menu on the small screens*/
    footer .languages_menu {
        width: 95%;
        margin-left: 2.5%;
        margin-top: 5%;
    }
    footer .undo_redo_menu{
        display: none;
    }

    .languages img
    {

        width: 15%;
        height: 15%;
    }
    .languages {
        margin-left: 2%
    }
    div.drink_list{
        width: 96%;
        height: 100%;
        border-radius: 0px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        box-shadow: 2px 0px 10px black;
        border: medium;
        border-color: black;

    }
    div.drink{
        display: inline;
        width: 91%;
        height: 25%;
        text-align: center;
        
    }
    div.drink img{
        display: flex;
        width:  auto;
        height: 85%;
        margin-top: 3.5%;
        float: left;

    }
    h4{
        display: inline-block;
        margin: 2%;
        margin-top: 20%;
        margin-bottom: 20%;
        font-size: 100%;
    }
    h2 {
        font-size: 100%;
    }

    
    header{
        display:none;
    }
    div.selection{     
        display: none;
        border: thin;
        border-radius: 5px;
        
        width: 88%;
        height: auto;
        max-height: 66.5%;/*480px;*/
        float: right;
        position: absolute;  
        z-index: 3;
        
        padding-left: 1.5%;
        padding-right: 1.5%;
        margin-top: 2%;
        margin-left: 4%;
        margin-right: 4%;        
    }

    /* resizeing elements in selection display  */
    div.selection img {
        height: 50px;
    }
    div.selection h4 {
        margin: 2%;
        margin-top: 2%;
        margin-bottom: 2%;
        font-size: 100%;
    }  
    div.selection .order {
        height: 10%;       
    }
    
    
    div.selection_header{
        display: none;
    }
    div.checkout{
        display: block;
      /*  position: absolute; */
        width: 96%;
        height: 12%;

        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        margin-left: 2%;

        box-shadow: 2px 2px 10px black, 2px 0 10px black;

        /* z-index: 3; */
    }    
    div.order{
    }
    footer{
        height: 0px;
    }
    footer .small_button{
        display: none;
    }

    div.menu{
        display: none;
    }
    div.dropdown{
        display: inline-block;

    }
    div.log_button{
        display: inline-block;
    }
    div.pay_button{
        display: inline-block;
    }
    
    div.selection_div{
        position: fixed;
        width: 94%;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 100%;
        z-index: 2;    
    }
}
