/* Bar 
   index.css
   Created by Mauro J. Pappaterra on 20 of February 2018.
*/

/*Style Sheet for the login page*/

/*WELCOME PIRATE IMAGE*/

.welcome_pirate_small {
    width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}

.welcome_pirate_medium {
    width: 40%;
    float: left;
}

.welcome_pirate_large {
    width: 40%;
    float: left;
}

/*Menu Buttons*/

.big_button {
    margin: 5%;
    padding: 2%;

    text-align: center;
    font-size: 40px;
}

.big_button_small{
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
    clear: both;
}

.big_button_medium,.big_button_large{
    width: 45%;
    float: right;
    clear: none;

    margin: 2%;
}
