/* The Flying  Dutchman
   index.css
   Created by 'Pirates of the Caribbean' on 20 of February 2018.
*/

/*Style Sheet for the login page*/

/*WELCOME PIRATE IMAGE*/

.welcome_pirate_small {
    width: 65%;
    height: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}

.welcome_pirate_medium {
    width: 40%;
    float: left;
}

.welcome_pirate_large {
    width: 40%;
    float: left;
}

/*Menu Buttons*/


.big_button {
    margin: 5%;
    padding: 2%;
    display: block;
    text-align: center;
    font-size: 40px;
}

.big_button_small{
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
    clear: both;
}

.big_button_medium,.big_button_large{
    width: 45%;
    float: right; /*right;*/
    clear: none;

    margin: 2%;
    /**  transform: translateY(200%);*/

}
.languages_menu{
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    flex-direction: row;
    justify-content:center;
}

body {
    background-image: url("../img/storm.jpg");
    background-size: cover;
    max-width: 100%;
    background-repeat: no-repeat;
}

.margin_button{
    display: inline-block;
    font-size: 17px;
    width: 40%;
    clear: both;
    margin: 2%;
    text-align: center;
    position: relative;

}

/*login stuff below*/
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 60%;
    background-color: green;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: darkgreen;
}

.login {
    display: none;
    width: 100%;
    margin-top: 50%;
    margin: 80px 100px;
    border-radius: 5px;
    background-color: #0C2924;
    padding: 20px;
    position: absolute;
    z-index:1;
}

.close {
    float:right;
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
}

.close:hover {
    float:right;
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
    color:#fff;
}

.gif {
    float:center;
    vertical-align: middle;
    display:none;
}

.test {
    loop: loop;
    autoplay: autoplay;
}

/*why wont u center...*/
.login_button {
    float: none;
    width: 30%;
    height: 40px;
    margin: 3%;
    margin-left: 35%;
    margin-right: 35%;
    padding: 1%;
    display: block;
    text-align: center;
    font-size: 35px;

}
#barManLog{
    display: inline;
    float: right;
    width: 30%;
}
/*Responsiveness*/
/* For mobile phones: */
/* try it with iPhone 6 models*/
@media only screen and (max-width: 414px)
{
    /* only the customer is going to use the App on his phone to order drinks,therefore we hide the management login on phones*/
    div.margin_button  {display: none;} 

    /* enlarge the order button and the font for easy reading on small phones*/
    .login_button {
        float: none;
        width: 30%;
        height: auto;
        display: block;
        text-align: center;
        font-size: 100%;
    }
    .languages_menu{
        margin-left: 15%;
        margin-right: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .languages img 
    {
        border-radius: 50%;
    }
    body{background-size: auto;}
}