input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 60%;
    background: linear-gradient(darkgray,grey);
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 4px;
    cursor: pointer;
    border-color: black;
    box-shadow: 1px 1px 20px #061614, -1px -1px 20px #061614;

}

input[type=submit]:hover {
    background-color: darkgreen;
}

.login {
    border-radius: 5px;
    background-color: #0C2924;
    padding: 20px;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    background: linear-gradient(#254540,#0C2924);
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    box-shadow: 5px 5px 30px black;
}


