/* Bar 
   customer.css
   Created by Mauro J. Pappaterra on 18 of February 2018.
*/

/*Style Sheet for the management page*/

/*HEADER*/

header{
    overflow:hidden;
    position: relative;
}

.title {
    background-color: darkgrey;
    float: left;
    width: 100%;

}
.info {
    background-color: #797979;
    position: absolute;
    top: 0px;
    right: 50px;
}

/*MENU COLUMN*/
.menu {
    width: 70%;
    height: 30%;
    background-color: greenyellow;
    float: left;
    overflow: auto;
}

.menu h2 {
    margin:0px;
    padding:0px;
}

.menu ul {
    list-style-type: none;
}

.menu a li {
    display: block;
    background-color: pink;

    float: left;
    margin-right:10px;
    padding:5px;
    width: 120px;
}

.menu a:hover li {
    background-color: #ff2d1b;
}

.drink_list {
    width: 70%;
    height: 500px;
    background-color: yellow;
    float: left;
    overflow: auto;
}

.drink {
    background-color: white;

    padding: 3%;
    margin: 2%;

    border-style: dashed;
    border-color: grey;
    border-width: medium;

    width: 90%;
    height: 185px;

    float: left;

    overflow:auto
}

.drink .c1 {
    width: 25%;
    float: left;
}

.drink .c2 {
    width: 30%;
    float: left;
}

.drink .c3 {
    width: 30%;
    float: left;
}

.drink .c4 {
    width: 15%;
    float: left;
}

.drink .c1 img{
    height: 175px;
}

a h4 {
    background-color: #43ff20;
    width: 100px;
    padding: 5px;
    text-align: center;
    cursor: move;
}

a:hover h4 {
    background-color: #3240ff;
}

.alert {
    color: #ff2d1b;
}

/*ORDER COLUMN*/
.selection_header {
    width: 30%;
    height: 30%;
    float: right;
    background-color: #07ffc2;
}

.selection {
    width: 30%;
    height: 450px;
    background-color: lightseagreen;
    float: right;
    overflow: auto;
}

.order {
    background-color: white;

    padding-left: 1.5%;
    padding-right: 1.5%;
    margin: 2%;
    margin-bottom: 10%;

    border-style: dashed;
    border-color: grey;
    border-width: thin;

    width: 92%;
    clear: both;
}

.order .price {
    float: right;
}

.order img {
    height: 80px;
    float: left;
}

.checkout {
    width: 30%;
    height: 50px;
    background-color: #ffaf40;
    float: right;
}

.checkout h2 {
    float: right;
}

.delete {
    background-color: #ff2d1b;
    color: white;
    float: right;
    width: 20px;
    text-align: center;
}

/* FOOTER*/
footer {
    background-color: #a4a4a4;
}

.logout {
    float: left;
    clear: none;
}

.languages_menu {
    float: left;
    width: 50%;
    clear: none;
}

footer .small_button{
    float: left;
}

#pay {
    float: right;
}