/* Bar 
   style.css
   Created by Mauro J. Pappaterra on 09 of February 2018.
*/

/*Style Sheet common to all pages*/

h1, h2 {
    text-align: center;
}

/*HEADER*/
header{
    overflow:hidden;
    position: relative;
}

.title {
    background-color: darkgrey;
    float: left;
    width: 100%;
}

.info {
    background-color: #797979;
    position: absolute;
    top: 0px;
    right: 50px;
}


/* BUTTONS */

.small_button {
    margin: 0.8%;
    padding:0.8%;
    width: 15%;

    text-align: center;
    font-size: 20px;

    cursor:pointer;
}

a{
    text-decoration: none;
    color: black;
    cursor:pointer;
}

a:hover {
    color: white;
}

a:active {
    color: red;
}


/* LANGUAGE MENU */
.languages {
    padding-left: 25%;
}

.languages img {
    width: 10%;
    float: left;
    padding: 2%;
}

.languages_menu{
    background-color: #a4a4a4;
    bottom: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}

/*UNDO-REDO MENU*/

.undo_redo_menu{
    background-color: #a4a4a4;
    float: left;
    margin: 2%;
    margin-top: 0%;

}

#undo, #redo {
    float: left;
}


/* COLORS */
.green {
    background-color: #2dff12;
}

.blue {
    background-color: #007bff;
}

.orange {
    background-color: #ff4500;
}

.red {
    background-color: red;
}

.grey {
    background-color: #676b6d;
}